main img {
    height:250px; 
    width:250px;
    border-radius: 10px;
}

nav a{
    padding: 3px;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

nav {
    margin: 15px;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    text-align: center;
}

header {
    background-color:green;
    border-radius: 10px;
}

header img {
    width:50px;
    height:50px;
    border-radius: 10px;
}

header h1 {
    text-align: center;
    background-color: green;
    text-transform: uppercase;
}

h1 {
    text-align:center;
    background-color: white;
    border-radius: 10px;
}

body {
    background-color:lightgreen;
}

footer {
    background-color:green;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

p {
    font-family: Franklin Gothic Medium; 
}
